<div class="container-fluid">
  <div class="row">
    <div class="col-sm-auto bg-light sticky-top">
      <div
        class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center"
      > <!-- aggiungere sticky-top ha lag-->
        <h2></h2>
        <ul
          class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center justify-content-between w-100 px-3 align-items-center"
        >
        <li class="nav-item">
          <button
            routerLink="/home"
            routerLinkActive="btn-primary"
            class="btn animate my-2"
            style="border-radius: 100%"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            data-bs-original-title="Home"
          >
            <i class="bi-house-door-fill fs-5"></i>
          </button>
        </li>
          <li class="nav-item">
            <button
              routerLink="/twitter"
              routerLinkActive="btn-primary"
              class="btn animate my-2"
              style="border-radius: 100%"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-original-title="Twitter"
            >
              <i class="bi-twitter fs-5"></i>
            </button>
          </li>
          <li class="nav-item">
            <button
              routerLink="/reddit"
              routerLinkActive="btn-primary"
              class="btn animate my-2"
              style="border-radius: 100%"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-original-title="Reddit"
            >
              <i class="bi-reddit fs-5"></i>
            </button>
          </li>
          <li class="nav-item">
            <button
            routerLink="/settings"
            routerLinkActive="btn-primary"
              class="btn animate my-2"
              style="border-radius: 100%"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-original-title="Settings"
            >
              <i class="bi-gear-fill fs-5"></i>
            </button>
          </li>
          <li class="nav-item">
            <button
            routerLink="/terminal"
            routerLinkActive="btn-primary"
              class="btn animate my-2"
              style="border-radius: 100%"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-original-title="Settings"
            >
              <i class="bi-terminal-fill fs-5"></i>
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm" style="min-height: 95vh;">
      <!-- content -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3">
    <b>Alpha version</b>
  </div>
  <!-- Copyright -->
</footer>