<div class="container-fluid">
    <nav class="navbar navbar-light mt-2">
      <h1>Home</h1>
      </nav>
    <h3>TODO List</h3>
    <ul>
        <li>Twitter beta testing</li>
        <li>Ratio data and sorting</li>
        <li class="text-warning">Twitter GUI fix</li>
        <li>Twitter optimization</li>
        <li>Twitter added/fetched testing (only fetched tested)</li>
        <li>CSV export (for the moment only JSON, use <a href="http://jsonviewer.stack.hu" target="_blank">this</a> to see data)</li>
        <li class="text-success">Terminal</li>
        <li>Default settings</li>
        <li>Bug fix</li>
    </ul>
  </div>
  